In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("../data/task1_dataset_kotae.csv")

In [5]:
df

             uid   d   t    x    y
0              0   0   1   79   86
1              0   0   2   79   86
2              0   0   8   77   86
3              0   0   9   77   86
4              0   0  19   81   89
...          ...  ..  ..  ...  ...
111535170  99999  74  38  119   77
111535171  99999  74  39  132   94
111535172  99999  74  40  124  105
111535173  99999  74  41  121  107
111535174  99999  74  42  120  108

[111535175 rows x 5 columns]

In [6]:
df.shape

(111535175, 5)

In [7]:
print(df['x'].max(),df['x'].min())
print(df['y'].max(),df['x'].min())
print(df['t'].max(),df['t'].min())

200 1
200 1
47 0

In [8]:
count_table = df.value_counts(['x', 'y','t','d']).reset_index(name='number of people')

In [9]:
count_table

            x   y   t   d  number of people
0         135  77  36  68               301
1         135  77  36  66               297
2         135  77  37  68               296
3         135  77  36  54               295
4         135  77  36  26               295
...       ...  ..  ..  ..               ...
39081331    1   1   0  54                 1
39081332    1   1   0  46                 1
39081333    1   1   0  45                 1
39081334    1   1   0  40                 1
39081335    1   1   0  36                 1

[39081336 rows x 5 columns]

In [10]:
count_table
# count_table.to_csv('../data/task1_dataset_kotae_cnt_result.csv', index=False)

            x   y   t   d  number of people
0         135  77  36  68               301
1         135  77  36  66               297
2         135  77  37  68               296
3         135  77  36  54               295
4         135  77  36  26               295
...       ...  ..  ..  ..               ...
39081331    1   1   0  54                 1
39081332    1   1   0  46                 1
39081333    1   1   0  45                 1
39081334    1   1   0  40                 1
39081335    1   1   0  36                 1

[39081336 rows x 5 columns]

In [11]:
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [12]:
# # --- 關鍵步驟開始 ---

# # 2. 使用 pivot 轉成矩陣格式
# # index='y'  -> 讓 y 軸的數值變成列索引 (Rows)
# # columns='x' -> 讓 x 軸的數值變成欄位名稱 (Columns)
# # values='出現次數' -> 格子裡填入的值
# heat_data = count_table.pivot(index='y', columns='x', values='出現次數')

# # 3. 處理空值 (原本沒有數據的座標填 0)
# heat_data = heat_data.fillna(0)

# # (選用) 確保座標軸是按照順序排列的 (從小到大)
# heat_data = heat_data.sort_index(ascending=True).sort_index(axis=1, ascending=True)

# # --- 關鍵步驟結束，現在 heat_data 已經是可以畫圖的格式了 ---

# # 4. 繪圖haha
# plt.figure(figsize=(10, 8))

# # 繪製熱力圖
# # cmap='viridis': 顏色主題
# # robust=True: 如果你的數據有極端值(例如35萬 vs 1)，加上這個參數可以讓顏色分佈更均勻，不會被最大值吃掉
# sns.heatmap(heat_data, cmap='viridis', robust=True) 

# plt.title('X-Y Coordinate Frequency Heatmap')
# plt.xlabel('X Coordinate')
# plt.ylabel('Y Coordinate')

In [13]:

# # 注意：Matplotlib 預設 (0,0) 在左上角。
# # 如果你的 Y 座標代表高度或地理位置 (數值越大越上面)，你可能需要反轉 Y 軸：
# plt.gca().invert_yaxis()   

# plt.show()

In [14]:
# def find_grid(df,n,m):
#     all_data = []
#     for i in range(1,200-n+1):
#         for j in range(1,200-m+1):
#             total = 0
#             for I in range(n):
#                 for J in range(m):
#                     total+=((df['x']==i+I)&df['y']==j+J).sum()
                    
#             all_data.append([total,i,j])
#     all_data.sort()
#     for i in all_data:
#         print(i[0],i[1],i[2])


# find_grid(data,3,3)

In [15]:
count_table

            x   y   t   d  number of people
0         135  77  36  68               301
1         135  77  36  66               297
2         135  77  37  68               296
3         135  77  36  54               295
4         135  77  36  26               295
...       ...  ..  ..  ..               ...
39081331    1   1   0  54                 1
39081332    1   1   0  46                 1
39081333    1   1   0  45                 1
39081334    1   1   0  40                 1
39081335    1   1   0  36                 1

[39081336 rows x 5 columns]

In [16]:
count_table_for_analyse = df.value_counts(['x', 'y']).reset_index(name='number of people')

In [17]:
count_table_for_analyse

         x    y  number of people
0      135   77            359963
1      135   82            196083
2      134   77            176167
3      129   81            151722
4      135   78            140375
...    ...  ...               ...
34027  122  165                 1
34028   44  126                 1
34029  200  168                 1
34030  122  178                 1
34031  200  149                 1

[34032 rows x 3 columns]

In [18]:

count_table_for_analysis = count_table_for_analyse

# 原始的完整計數表
# data_full = count_table
# count_table = pd.DataFrame(data_full)
# --- 範例資料結束 ---


# 1. 找出 'number of people' 欄位值前三大的資料
top_3_locations = count_table_for_analysis.nlargest(3, 'number of people')

print("人口數前三多的地點 (x, y):")
print(top_3_locations)
print("-" * 30)

# 2. 從這三筆資料中選取 'x' 和 'y' 欄位，用於後續的匹配
locations_to_find = top_3_locations[['x', 'y']]

# 3. 使用 merge 方法，根據 x 和 y 找出在 count_table 中所有符合的資料
#    'how='inner'' 表示只保留兩個 DataFrame 中 x, y 組合都存在的資料列
result_df = pd.merge(count_table, locations_to_find, on=['x', 'y'], how='inner')

print("在 count_table 中找到符合前三多地點 (x, y) 的所有資料:")
print(result_df)

人口數前三多的地點 (x, y):
     x   y  number of people
0  135  77            359963
1  135  82            196083
2  134  77            176167
------------------------------
在 count_table 中找到符合前三多地點 (x, y) 的所有資料:
         x   y   t   d  number of people
0      135  77  36  68               301
1      135  77  36  66               297
2      135  77  37  68               296
3      135  77  36  54               295
4      135  77  36  26               295
...    ...  ..  ..  ..               ...
10792  134  77   6  15                 1
10793  134  77   6   8                 1
10794  134  77   6   2                 1
10795  134  77   5  56                 1
10796  134  77   0  17                 1

[10797 rows x 5 columns]

In [19]:
result_df

         x   y   t   d  number of people
0      135  77  36  68               301
1      135  77  36  66               297
2      135  77  37  68               296
3      135  77  36  54               295
4      135  77  36  26               295
...    ...  ..  ..  ..               ...
10792  134  77   6  15                 1
10793  134  77   6   8                 1
10794  134  77   6   2                 1
10795  134  77   5  56                 1
10796  134  77   0  17                 1

[10797 rows x 5 columns]

In [20]:
import torch
from torch.utils.data import Dataset, DataLoader
from torch import nn

In [21]:
# import torch
# from torch.utils.data import Dataset, DataLoader
# import pandas as pd
# import numpy as np

class GridTimeSeriesDataset(Dataset):
    def __init__(self, df, group_by_cols, target_col, input_seq_len, output_seq_len):
        """
        Args:
            df (pd.DataFrame): 包含所有網格點和時間的 DataFrame
            group_by_cols (list): 用於分組的欄位，例如 ['x', 'y']
            target_col (str): 要預測的目標欄位，例如 'number of people'
            input_seq_len (int): 輸入序列的長度 (例如 144 -> 過去72小時)
            output_seq_len (int): 輸出序列的長度 (例如 48 -> 未來24小時)
        """
        self.group_by_cols = group_by_cols
        self.target_col = target_col
        self.input_seq_len = input_seq_len
        self.output_seq_len = output_seq_len
        
        self.sequences = []
        self._create_sequences(df)

    def _create_sequences(self, df):
        # 根據網格點分組，為每個網格點建立序列
        grouped = df.groupby(self.group_by_cols)
        
        for _, group_df in grouped:
            # 確保每個分組內的資料是按時間排序的
            group_df = group_df.sort_values('t')
            values = group_df[self.target_col].values
            
            # 使用滑動窗口建立 (輸入, 輸出) 配對
            total_len = len(values)
            for i in range(total_len - self.input_seq_len - self.output_seq_len + 1):
                input_seq = values[i : i + self.input_seq_len]
                output_seq = values[i + self.input_seq_len : i + self.input_seq_len + self.output_seq_len]
                
                self.sequences.append((input_seq, output_seq))

    def __len__(self):
        return len(self.sequences)

    def __getitem__(self, idx):
        input_seq, output_seq = self.sequences[idx]
        
        # 轉換為 PyTorch Tensor，並增加一個特徵維度
        # LSTM 的輸入格式為 (sequence_length, num_features)
        input_tensor = torch.FloatTensor(input_seq).unsqueeze(-1)
        output_tensor = torch.FloatTensor(output_seq).unsqueeze(-1)
        
        return input_tensor, output_tensor

In [22]:
class Encoder(nn.Module):
    def __init__(self, input_size, hidden_size, num_layers=1):
        super(Encoder, self).__init__()
        self.hidden_size = hidden_size
        self.num_layers = num_layers
        self.lstm = nn.LSTM(input_size, hidden_size, num_layers, batch_first=True)

    def forward(self, x):
        # x shape: (batch_size, seq_len, input_size)
        outputs, (hidden, cell) = self.lstm(x)
        return hidden, cell

class Decoder(nn.Module):
    def __init__(self, output_size, hidden_size, num_layers=1):
        super(Decoder, self).__init__()
        self.output_size = output_size
        self.hidden_size = hidden_size
        self.num_layers = num_layers
        self.lstm = nn.LSTM(output_size, hidden_size, num_layers, batch_first=True)
        self.fc = nn.Linear(hidden_size, output_size)

    def forward(self, x, hidden, cell):
        # x shape: (batch_size, 1, output_size)
        output, (hidden, cell) = self.lstm(x, (hidden, cell))
        # output shape: (batch_size, 1, hidden_size)
        prediction = self.fc(output.squeeze(1)) # shape: (batch_size, output_size)
        return prediction, hidden, cell

class Seq2Seq(nn.Module):
    def __init__(self, encoder, decoder, target_len, device):
        super(Seq2Seq, self).__init__()
        self.encoder = encoder
        self.decoder = decoder
        self.target_len = target_len
        self.device = device
        # 刪除 self.fc，因為 Decoder 內部已經包含輸出層了
        
    def forward(self, src, trg=None, teacher_forcing_ratio=0.5):
        batch_size = src.shape[0]
        seq_len = src.shape[1]
        # output_size 應該從 decoder 取得，而不是不存在的 self.fc
        output_size = self.decoder.output_size 
        
        # Encoder: 取得 Encoder 最後的隱藏狀態
        _, (hidden, cell) = self.encoder(src)

        # Decoder
        # 準備 Decoder 的第一個輸入
        decoder_input = torch.zeros(batch_size, 1, output_size, device=src.device).float()
        
        outputs = []

        # 注意：這裡應該是預測 target_len (未來時間步)，而不是輸入的 seq_len
        # 如果你是要預測未來 48 步，這裡應該用 self.target_len
        predict_len = self.target_len 

        for t in range(predict_len):
            # --- 修正重點 1: 參數拆開傳入 (hidden, cell) ---
            # --- 修正重點 2: 接收回傳值時，直接用三個變數接 ---
            prediction, hidden, cell = self.decoder(decoder_input, hidden, cell)
            
            outputs.append(prediction)

            # --- 修正重點 3: 移除多餘的 self.fc，因為 prediction 已經是結果了 ---

            # Teacher Forcing 邏輯 (如果有需要)
            # if trg is not None and random.random() < teacher_forcing_ratio:
            #     decoder_input = trg[:, t].unsqueeze(1)
            # else:
            #     decoder_input = prediction.unsqueeze(1) # 確保維度正確 (Batch, 1, Feature)
            
            # 目前你的 Code 是純 autoregressive:
            decoder_input = prediction.unsqueeze(1)

        # 將所有時間步的輸出串接起來
        # output shape: (Batch, Seq_Len, Output_Size)
        return torch.cat(outputs, dim=1)

In [23]:
from sklearn.preprocessing import MinMaxScaler

In [ ]:
# --- 1. 參數設定 ---
INPUT_SEQ_LEN = 144  # 過去 72 小時 (144 * 30 min)
OUTPUT_SEQ_LEN = 48   # 未來 24 小時 (48 * 30 min)
BATCH_SIZE = 32
INPUT_SIZE = 1        # 輸入特徵數 (只有 'number of people')
OUTPUT_SIZE = 1       # 輸出特徵數
HIDDEN_SIZE = 128     # LSTM 隱藏層大小
NUM_LAYERS = 2        # LSTM 層數
DEVICE = torch.device("cuda" if torch.cuda.is_available() else "cpu")

# --- 2. 準備資料 ---
# 假設 df 是您完整的 DataFrame
# **重要**: 在傳入 Dataset 前，建議先對 'number of people' 做標準化 (Normalization)
# 例如使用 aScikit-learn 的 MinMaxScaler

scaler = MinMaxScaler()
result_df['number of people'] = scaler.fit_transform(result_df[['number of people']])

dataset = GridTimeSeriesDataset(result_df, 
                              group_by_cols=['x', 'y'], 
                              target_col='number of people', 
                              input_seq_len=INPUT_SEQ_LEN, 
                              output_seq_len=OUTPUT_SEQ_LEN)

dataloader = DataLoader(dataset, batch_size=BATCH_SIZE, shuffle=True)


# --- 3. 建立模型 ---
encoder = Encoder(INPUT_SIZE, HIDDEN_SIZE, NUM_LAYERS).to(DEVICE)
decoder = Decoder(OUTPUT_SIZE, HIDDEN_SIZE, NUM_LAYERS).to(DEVICE)
model = Seq2Seq(encoder, decoder, OUTPUT_SEQ_LEN, DEVICE).to(DEVICE)


# --- 4. 設定損失函數和優化器 ---
optimizer = torch.optim.Adam(model.parameters(), lr=0.001)
criterion = nn.MSELoss() # 均方誤差損失，適合回歸問題

# --- 5. 訓練迴圈 (簡化版) ---
model.train()
for epoch in range(10): # 訓練 10 個週期
    for input_seq, target_seq in dataloader:
        input_seq = input_seq.to(DEVICE)
        target_seq = target_seq.to(DEVICE)
        
        optimizer.zero_grad()
        
        output = model(input_seq)
        
        # output shape: (batch_size, seq_len, features)
        loss = criterion(output, target_seq)
        
        loss.backward()
        optimizer.step()
        
    print(f"Epoch {epoch+1}, Loss: {loss.item()}")

# 預測時，記得將模型的輸出反標準化，還原回原始的人數尺度
# predicted_values = scaler.inverse_transform(output.cpu().detach().numpy().reshape(-1, 1))

KeyError: "None of [Index(['number of people'], dtype='object')] are in the [columns]"