# Load data

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/task1_dataset_kotae.csv")

In [3]:
df

             uid   d   t    x    y
0              0   0   1   79   86
1              0   0   2   79   86
2              0   0   8   77   86
3              0   0   9   77   86
4              0   0  19   81   89
...          ...  ..  ..  ...  ...
111535170  99999  74  38  119   77
111535171  99999  74  39  132   94
111535172  99999  74  40  124  105
111535173  99999  74  41  121  107
111535174  99999  74  42  120  108

[111535175 rows x 5 columns]

In [4]:
df.shape

(111535175, 5)

In [5]:
print(df['x'].max(),df['x'].min())
print(df['y'].max(),df['x'].min())
print(df['t'].max(),df['t'].min())

200 1
200 1
47 0

In [6]:
count_table = df.value_counts(['x', 'y','t','d']).reset_index(name='number of people')

In [7]:
count_table

            x   y   t   d  number of people
0         135  77  36  68               301
1         135  77  36  66               297
2         135  77  37  68               296
3         135  77  36  54               295
4         135  77  36  26               295
...       ...  ..  ..  ..               ...
39081331    1   1   0  54                 1
39081332    1   1   0  46                 1
39081333    1   1   0  45                 1
39081334    1   1   0  40                 1
39081335    1   1   0  36                 1

[39081336 rows x 5 columns]

In [8]:
count_table
# count_table.to_csv('../data/task1_dataset_kotae_cnt_result.csv', index=False)

            x   y   t   d  number of people
0         135  77  36  68               301
1         135  77  36  66               297
2         135  77  37  68               296
3         135  77  36  54               295
4         135  77  36  26               295
...       ...  ..  ..  ..               ...
39081331    1   1   0  54                 1
39081332    1   1   0  46                 1
39081333    1   1   0  45                 1
39081334    1   1   0  40                 1
39081335    1   1   0  36                 1

[39081336 rows x 5 columns]

In [9]:
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [10]:
# # --- é—œéµæ­¥é©Ÿé–‹å§‹ ---

# # 2. ä½¿ç”¨ pivot è½‰æˆçŸ©é™£æ ¼å¼
# # index='y'  -> è®“ y è»¸çš„æ•¸å€¼è®Šæˆåˆ—ç´¢å¼• (Rows)
# # columns='x' -> è®“ x è»¸çš„æ•¸å€¼è®Šæˆæ¬„ä½åç¨± (Columns)
# # values='å‡ºç¾æ¬¡æ•¸' -> æ ¼å­è£¡å¡«å…¥çš„å€¼
# heat_data = count_table.pivot(index='y', columns='x', values='å‡ºç¾æ¬¡æ•¸')

# # 3. è™•ç†ç©ºå€¼ (åŸæœ¬æ²’æœ‰æ•¸æ“šçš„åº§æ¨™å¡« 0)
# heat_data = heat_data.fillna(0)

# # (é¸ç”¨) ç¢ºä¿åº§æ¨™è»¸æ˜¯æŒ‰ç…§é †åºæ’åˆ—çš„ (å¾å°åˆ°å¤§)
# heat_data = heat_data.sort_index(ascending=True).sort_index(axis=1, ascending=True)

# # --- é—œéµæ­¥é©ŸçµæŸï¼Œç¾åœ¨ heat_data å·²ç¶“æ˜¯å¯ä»¥ç•«åœ–çš„æ ¼å¼äº† ---

# # 4. ç¹ªåœ–haha
# plt.figure(figsize=(10, 8))

# # ç¹ªè£½ç†±åŠ›åœ–
# # cmap='viridis': é¡è‰²ä¸»é¡Œ
# # robust=True: å¦‚æœä½ çš„æ•¸æ“šæœ‰æ¥µç«¯å€¼(ä¾‹å¦‚35è¬ vs 1)ï¼ŒåŠ ä¸Šé€™å€‹åƒæ•¸å¯ä»¥è®“é¡è‰²åˆ†ä½ˆæ›´å‡å‹»ï¼Œä¸æœƒè¢«æœ€å¤§å€¼åƒæ‰
# sns.heatmap(heat_data, cmap='viridis', robust=True) 

# plt.title('X-Y Coordinate Frequency Heatmap')
# plt.xlabel('X Coordinate')
# plt.ylabel('Y Coordinate')

In [11]:

# # æ³¨æ„ï¼šMatplotlib é è¨­ (0,0) åœ¨å·¦ä¸Šè§’ã€‚
# # å¦‚æœä½ çš„ Y åº§æ¨™ä»£è¡¨é«˜åº¦æˆ–åœ°ç†ä½ç½® (æ•¸å€¼è¶Šå¤§è¶Šä¸Šé¢)ï¼Œä½ å¯èƒ½éœ€è¦åè½‰ Y è»¸ï¼š
# plt.gca().invert_yaxis()   

# plt.show()

In [12]:
# def find_grid(df,n,m):
#     all_data = []
#     for i in range(1,200-n+1):
#         for j in range(1,200-m+1):
#             total = 0
#             for I in range(n):
#                 for J in range(m):
#                     total+=((df['x']==i+I)&df['y']==j+J).sum()
                    
#             all_data.append([total,i,j])
#     all_data.sort()
#     for i in all_data:
#         print(i[0],i[1],i[2])


# find_grid(data,3,3)

In [13]:
count_table

            x   y   t   d  number of people
0         135  77  36  68               301
1         135  77  36  66               297
2         135  77  37  68               296
3         135  77  36  54               295
4         135  77  36  26               295
...       ...  ..  ..  ..               ...
39081331    1   1   0  54                 1
39081332    1   1   0  46                 1
39081333    1   1   0  45                 1
39081334    1   1   0  40                 1
39081335    1   1   0  36                 1

[39081336 rows x 5 columns]

In [14]:
count_table_for_analyse = df.value_counts(['x', 'y']).reset_index(name='number of people')

In [15]:
count_table_for_analyse

         x    y  number of people
0      135   77            359963
1      135   82            196083
2      134   77            176167
3      129   81            151722
4      135   78            140375
...    ...  ...               ...
34027  122  165                 1
34028   44  126                 1
34029  200  168                 1
34030  122  178                 1
34031  200  149                 1

[34032 rows x 3 columns]

In [16]:

count_table_for_analysis = count_table_for_analyse

# åŸå§‹çš„å®Œæ•´è¨ˆæ•¸è¡¨
# data_full = count_table
# count_table = pd.DataFrame(data_full)
# --- ç¯„ä¾‹è³‡æ–™çµæŸ ---


# 1. æ‰¾å‡º 'number of people' æ¬„ä½å€¼å‰ä¸‰å¤§çš„è³‡æ–™
top_3_locations = count_table_for_analysis.nlargest(3, 'number of people')

print("äººå£æ•¸å‰ä¸‰å¤šçš„åœ°é» (x, y):")
print(top_3_locations)
print("-" * 30)

# 2. å¾é€™ä¸‰ç­†è³‡æ–™ä¸­é¸å– 'x' å’Œ 'y' æ¬„ä½ï¼Œç”¨æ–¼å¾ŒçºŒçš„åŒ¹é…
locations_to_find = top_3_locations[['x', 'y']]

# 3. ä½¿ç”¨ merge æ–¹æ³•ï¼Œæ ¹æ“š x å’Œ y æ‰¾å‡ºåœ¨ count_table ä¸­æ‰€æœ‰ç¬¦åˆçš„è³‡æ–™
#    'how='inner'' è¡¨ç¤ºåªä¿ç•™å…©å€‹ DataFrame ä¸­ x, y çµ„åˆéƒ½å­˜åœ¨çš„è³‡æ–™åˆ—
result_df = pd.merge(count_table, locations_to_find, on=['x', 'y'], how='inner')

print("åœ¨ count_table ä¸­æ‰¾åˆ°ç¬¦åˆå‰ä¸‰å¤šåœ°é» (x, y) çš„æ‰€æœ‰è³‡æ–™:")
print(result_df)

äººå£æ•¸å‰ä¸‰å¤šçš„åœ°é» (x, y):
     x   y  number of people
0  135  77            359963
1  135  82            196083
2  134  77            176167
------------------------------
åœ¨ count_table ä¸­æ‰¾åˆ°ç¬¦åˆå‰ä¸‰å¤šåœ°é» (x, y) çš„æ‰€æœ‰è³‡æ–™:
         x   y   t   d  number of people
0      135  77  36  68               301
1      135  77  36  66               297
2      135  77  37  68               296
3      135  77  36  54               295
4      135  77  36  26               295
...    ...  ..  ..  ..               ...
10792  134  77   6  15                 1
10793  134  77   6   8                 1
10794  134  77   6   2                 1
10795  134  77   5  56                 1
10796  134  77   0  17                 1

[10797 rows x 5 columns]

In [17]:
result_df

         x   y   t   d  number of people
0      135  77  36  68               301
1      135  77  36  66               297
2      135  77  37  68               296
3      135  77  36  54               295
4      135  77  36  26               295
...    ...  ..  ..  ..               ...
10792  134  77   6  15                 1
10793  134  77   6   8                 1
10794  134  77   6   2                 1
10795  134  77   5  56                 1
10796  134  77   0  17                 1

[10797 rows x 5 columns]

# Train

In [18]:
import torch
from torch.utils.data import Dataset, DataLoader
from torch import nn

In [19]:
# import torch
# from torch.utils.data import Dataset, DataLoader
# import pandas as pd
# import numpy as np

class GridTimeSeriesDataset(Dataset):
    def __init__(self, df, group_by_cols, target_col, input_seq_len, output_seq_len):
        """
        Args:
            df (pd.DataFrame): åŒ…å«æ‰€æœ‰ç¶²æ ¼é»å’Œæ™‚é–“çš„ DataFrame
            group_by_cols (list): ç”¨æ–¼åˆ†çµ„çš„æ¬„ä½ï¼Œä¾‹å¦‚ ['x', 'y']
            target_col (str): è¦é æ¸¬çš„ç›®æ¨™æ¬„ä½ï¼Œä¾‹å¦‚ 'number of people'
            input_seq_len (int): è¼¸å…¥åºåˆ—çš„é•·åº¦ (ä¾‹å¦‚ 144 -> éå»72å°æ™‚)
            output_seq_len (int): è¼¸å‡ºåºåˆ—çš„é•·åº¦ (ä¾‹å¦‚ 48 -> æœªä¾†24å°æ™‚)
        """
        self.group_by_cols = group_by_cols
        self.target_col = target_col
        self.input_seq_len = input_seq_len
        self.output_seq_len = output_seq_len
        
        self.sequences = []
        self._create_sequences(df)

    def _create_sequences(self, df):
        # æ ¹æ“šç¶²æ ¼é»åˆ†çµ„ï¼Œç‚ºæ¯å€‹ç¶²æ ¼é»å»ºç«‹åºåˆ—
        grouped = df.groupby(self.group_by_cols)
        
        for _, group_df in grouped:
            # ç¢ºä¿æ¯å€‹åˆ†çµ„å…§çš„è³‡æ–™æ˜¯æŒ‰æ™‚é–“æ’åºçš„
            group_df = group_df.sort_values('t')
            values = group_df[self.target_col].values
            
            # ä½¿ç”¨æ»‘å‹•çª—å£å»ºç«‹ (è¼¸å…¥, è¼¸å‡º) é…å°
            total_len = len(values)
            for i in range(total_len - self.input_seq_len - self.output_seq_len + 1):
                input_seq = values[i : i + self.input_seq_len]
                output_seq = values[i + self.input_seq_len : i + self.input_seq_len + self.output_seq_len]
                
                self.sequences.append((input_seq, output_seq))

    def __len__(self):
        return len(self.sequences)

    def __getitem__(self, idx):
        input_seq, output_seq = self.sequences[idx]
        
        # è½‰æ›ç‚º PyTorch Tensorï¼Œä¸¦å¢åŠ ä¸€å€‹ç‰¹å¾µç¶­åº¦
        # LSTM çš„è¼¸å…¥æ ¼å¼ç‚º (sequence_length, num_features)
        input_tensor = torch.FloatTensor(input_seq).unsqueeze(-1)
        output_tensor = torch.FloatTensor(output_seq).unsqueeze(-1)
        
        return input_tensor, output_tensor

In [20]:
class Encoder(nn.Module):
    def __init__(self, input_size, hidden_size, num_layers=1):
        super(Encoder, self).__init__()
        self.hidden_size = hidden_size
        self.num_layers = num_layers
        self.lstm = nn.LSTM(input_size, hidden_size, num_layers, batch_first=True)

    def forward(self, x):
        # x shape: (batch_size, seq_len, input_size)
        outputs, (hidden, cell) = self.lstm(x)
        # å›å‚³ outputs å’Œ (hidden, cell) tuple
        return outputs, (hidden, cell)  # â† æ”¹æˆå›å‚³ tuple

class Decoder(nn.Module):
    def __init__(self, output_size, hidden_size, num_layers=1):
        super(Decoder, self).__init__()
        self.output_size = output_size
        self.hidden_size = hidden_size
        self.num_layers = num_layers
        self.lstm = nn.LSTM(output_size, hidden_size, num_layers, batch_first=True)
        self.fc = nn.Linear(hidden_size, output_size)

    def forward(self, x, hidden, cell):
        # x shape: (batch_size, 1, output_size)
        output, (hidden, cell) = self.lstm(x, (hidden, cell))
        # output shape: (batch_size, 1, hidden_size)
        prediction = self.fc(output.squeeze(1)) # shape: (batch_size, output_size)
        return prediction, hidden, cell

class Seq2Seq(nn.Module):
    def __init__(self, encoder, decoder, target_len, device):
        super(Seq2Seq, self).__init__()
        self.encoder = encoder
        self.decoder = decoder
        self.target_len = target_len
        self.device = device
        # åˆªé™¤ self.fcï¼Œå› ç‚º Decoder å…§éƒ¨å·²ç¶“åŒ…å«è¼¸å‡ºå±¤äº†
        
    def forward(self, src, trg=None, teacher_forcing_ratio=0.5):
        batch_size = src.shape[0]
        output_size = self.decoder.output_size 
        
        # Encoder: æ­£ç¢ºæ¥æ”¶
        _, (hidden, cell) = self.encoder(src)  # â† é€™æ¨£å¯«å°±å°äº†

        # Decoder
        # æº–å‚™ Decoder çš„ç¬¬ä¸€å€‹è¼¸å…¥
        decoder_input = torch.zeros(batch_size, 1, output_size, device=src.device).float()
        
        outputs = []

        # æ³¨æ„ï¼šé€™è£¡æ‡‰è©²æ˜¯é æ¸¬ target_len (æœªä¾†æ™‚é–“æ­¥)ï¼Œè€Œä¸æ˜¯è¼¸å…¥çš„ seq_len
        # å¦‚æœä½ æ˜¯è¦é æ¸¬æœªä¾† 48 æ­¥ï¼Œé€™è£¡æ‡‰è©²ç”¨ self.target_len
        predict_len = self.target_len 

        for t in range(predict_len):
            # --- ä¿®æ­£é‡é» 1: åƒæ•¸æ‹†é–‹å‚³å…¥ (hidden, cell) ---
            # --- ä¿®æ­£é‡é» 2: æ¥æ”¶å›å‚³å€¼æ™‚ï¼Œç›´æ¥ç”¨ä¸‰å€‹è®Šæ•¸æ¥ ---
            prediction, hidden, cell = self.decoder(decoder_input, hidden, cell)
            
            outputs.append(prediction)

            # --- ä¿®æ­£é‡é» 3: ç§»é™¤å¤šé¤˜çš„ self.fcï¼Œå› ç‚º prediction å·²ç¶“æ˜¯çµæœäº† ---

            # Teacher Forcing é‚è¼¯ (å¦‚æœæœ‰éœ€è¦)
            # if trg is not None and random.random() < teacher_forcing_ratio:
            #     decoder_input = trg[:, t].unsqueeze(1)
            # else:
            #     decoder_input = prediction.unsqueeze(1) # ç¢ºä¿ç¶­åº¦æ­£ç¢º (Batch, 1, Feature)
            
            # ç›®å‰ä½ çš„ Code æ˜¯ç´” autoregressive:
            decoder_input = prediction.unsqueeze(1)

        outputs = torch.stack(outputs, dim=1)  # shape: (batch_size, seq_len, output_size)
        return outputs

In [21]:
from sklearn.preprocessing import MinMaxScaler

In [23]:
import os

In [24]:
# --- 1. åƒæ•¸è¨­å®š ---
INPUT_SEQ_LEN = 144  # éå» 72 å°æ™‚ (144 * 30 min)
OUTPUT_SEQ_LEN = 48   # æœªä¾† 24 å°æ™‚ (48 * 30 min)
BATCH_SIZE = 1024
INPUT_SIZE = 1        # è¼¸å…¥ç‰¹å¾µæ•¸ (åªæœ‰ 'number of people')
OUTPUT_SIZE = 1       # è¼¸å‡ºç‰¹å¾µæ•¸
HIDDEN_SIZE = 128     # LSTM éš±è—å±¤å¤§å°
NUM_LAYERS = 2        # LSTM å±¤æ•¸
DEVICE = torch.device("cuda" if torch.cuda.is_available() else "cpu")

# --- 2. æº–å‚™è³‡æ–™ ---
# å‡è¨­ df æ˜¯æ‚¨å®Œæ•´çš„ DataFrame
# **é‡è¦**: åœ¨å‚³å…¥ Dataset å‰ï¼Œå»ºè­°å…ˆå° 'number of people' åšæ¨™æº–åŒ– (Normalization)
# ä¾‹å¦‚ä½¿ç”¨ aScikit-learn çš„ MinMaxScaler

scaler = MinMaxScaler()
result_df['number of people'] = scaler.fit_transform(result_df[['number of people']])

dataset = GridTimeSeriesDataset(result_df, 
                              group_by_cols=['x', 'y'], 
                              target_col='number of people', 
                              input_seq_len=INPUT_SEQ_LEN, 
                              output_seq_len=OUTPUT_SEQ_LEN)

dataloader = DataLoader(dataset, batch_size=BATCH_SIZE, shuffle=True)


# --- 3. å»ºç«‹æ¨¡å‹ ---
encoder = Encoder(INPUT_SIZE, HIDDEN_SIZE, NUM_LAYERS).to(DEVICE)
decoder = Decoder(OUTPUT_SIZE, HIDDEN_SIZE, NUM_LAYERS).to(DEVICE)
model = Seq2Seq(encoder, decoder, OUTPUT_SEQ_LEN, DEVICE).to(DEVICE)


# --- 4. è¨­å®šæå¤±å‡½æ•¸å’Œå„ªåŒ–å™¨ ---
optimizer = torch.optim.Adam(model.parameters(), lr=0.001)
criterion = nn.MSELoss() # å‡æ–¹èª¤å·®æå¤±ï¼Œé©åˆå›æ­¸å•é¡Œ

# --- 5. è¨“ç·´è¿´åœˆ (ç°¡åŒ–ç‰ˆ) ---
if not os.path.exists("../models/seq2seq_model.pth"):
    model.train()
    for epoch in range(10): # è¨“ç·´ 10 å€‹é€±æœŸ
        for input_seq, target_seq in dataloader:
            input_seq = input_seq.to(DEVICE)
            target_seq = target_seq.to(DEVICE)
            
            optimizer.zero_grad()
            
            output = model(input_seq)
            
            # output shape: (batch_size, seq_len, features)
            loss = criterion(output, target_seq)
            
            loss.backward()
            optimizer.step()
            
        print(f"Epoch {epoch+1}, Loss: {loss.item()}")

    # é æ¸¬æ™‚ï¼Œè¨˜å¾—å°‡æ¨¡å‹çš„è¼¸å‡ºåæ¨™æº–åŒ–ï¼Œé‚„åŸå›åŸå§‹çš„äººæ•¸å°ºåº¦
    # predicted_values = scaler.inverse_transform(output.cpu().detach().numpy().reshape(-1, 1))

In [25]:
# === å„²å­˜æ¨¡å‹ ===
import os
import joblib

# å»ºç«‹å„²å­˜ç›®éŒ„
save_dir = "../models"
os.makedirs(save_dir, exist_ok=True)

# å„²å­˜æ¨¡å‹æ¬Šé‡å’Œè¶…åƒæ•¸
torch.save({
    'encoder_state_dict': encoder.state_dict(),
    'decoder_state_dict': decoder.state_dict(),
    'model_state_dict': model.state_dict(),
    'optimizer_state_dict': optimizer.state_dict(),
    'hyperparameters': {
        'input_size': INPUT_SIZE,
        'output_size': OUTPUT_SIZE,
        'hidden_size': HIDDEN_SIZE,
        'num_layers': NUM_LAYERS,
        'input_seq_len': INPUT_SEQ_LEN,
        'output_seq_len': OUTPUT_SEQ_LEN,
    }
}, f"{save_dir}/seq2seq_model.pth")

# å„²å­˜ scaler
joblib.dump(scaler, f"{save_dir}/scaler.pkl")

print(f"âœ… æ¨¡å‹å·²å„²å­˜è‡³ {save_dir}/seq2seq_model.pth")
print(f"âœ… Scaler å·²å„²å­˜è‡³ {save_dir}/scaler.pkl")

âœ… æ¨¡å‹å·²å„²å­˜è‡³ ../models/seq2seq_model.pth
âœ… Scaler å·²å„²å­˜è‡³ ../models/scaler.pkl

# Inference

In [26]:
# === è¼‰å…¥æ¨¡å‹ ===
import joblib

# è¼‰å…¥ checkpoint
checkpoint = torch.load("../models/seq2seq_model.pth", map_location=DEVICE)
hp = checkpoint['hyperparameters']

# é‡å»ºæ¨¡å‹æ¶æ§‹
encoder_loaded = Encoder(hp['input_size'], hp['hidden_size'], hp['num_layers']).to(DEVICE)
decoder_loaded = Decoder(hp['output_size'], hp['hidden_size'], hp['num_layers']).to(DEVICE)
model_loaded = Seq2Seq(encoder_loaded, decoder_loaded, hp['output_seq_len'], DEVICE).to(DEVICE)

# è¼‰å…¥æ¬Šé‡
model_loaded.load_state_dict(checkpoint['model_state_dict'])
model_loaded.eval()

# è¼‰å…¥ scaler
scaler_loaded = joblib.load("../models/scaler.pkl")

print("âœ… æ¨¡å‹è¼‰å…¥æˆåŠŸï¼")

âœ… æ¨¡å‹è¼‰å…¥æˆåŠŸï¼

In [27]:
# === æ¨è«–å‡½æ•¸ ===
import numpy as np

def predict(model, input_sequence, scaler, device):
    """
    å°å–®ä¸€è¼¸å…¥åºåˆ—é€²è¡Œé æ¸¬
    
    Args:
        model: è¨“ç·´å¥½çš„ Seq2Seq æ¨¡å‹
        input_sequence: numpy array, shape (seq_len,) æˆ– (seq_len, 1)
        scaler: MinMaxScaler
        device: é‹ç®—è£ç½®
    
    Returns:
        é æ¸¬çµæœï¼ˆå·²åæ¨™æº–åŒ–ï¼‰
    """
    model.eval()
    
    with torch.no_grad():
        # æ¨™æº–åŒ–è¼¸å…¥
        input_normalized = scaler.transform(input_sequence.reshape(-1, 1))
        
        # è½‰æ›ç‚º tensor
        input_tensor = torch.FloatTensor(input_normalized).unsqueeze(0).to(device)
        
        # é æ¸¬
        output = model(input_tensor)
        
        # åæ¨™æº–åŒ–
        output_np = output.cpu().numpy().reshape(-1, 1)
        prediction = scaler.inverse_transform(output_np)
        
    return prediction.flatten()

In [28]:
# === æ¨è«–æ¸¬è©¦ ===
# å¾ dataset å–ä¸€å€‹æ¨£æœ¬
sample_input, sample_target = dataset[0]

# åæ¨™æº–åŒ–å–å¾—åŸå§‹å€¼
sample_input_original = scaler_loaded.inverse_transform(
    sample_input.numpy().reshape(-1, 1)
).flatten()

# é€²è¡Œé æ¸¬
predicted_values = predict(model_loaded, sample_input_original, scaler_loaded, DEVICE)

# çœŸå¯¦å€¼
actual_values = scaler_loaded.inverse_transform(
    sample_target.numpy().reshape(-1, 1)
).flatten()

print(f"ğŸ“Š è¼¸å…¥åºåˆ—é•·åº¦: {len(sample_input_original)}")
print(f"ğŸ“Š é æ¸¬åºåˆ—é•·åº¦: {len(predicted_values)}")
print(f"\nğŸ”® é æ¸¬çµæœï¼ˆå‰ 10 å€‹æ™‚é–“æ­¥ï¼‰:\n{predicted_values[:10]}")
print(f"\nâœ… å¯¦éš›å€¼ï¼ˆå‰ 10 å€‹æ™‚é–“æ­¥ï¼‰:\n{actual_values[:10]}")

ğŸ“Š è¼¸å…¥åºåˆ—é•·åº¦: 144
ğŸ“Š é æ¸¬åºåˆ—é•·åº¦: 48

ğŸ”® é æ¸¬çµæœï¼ˆå‰ 10 å€‹æ™‚é–“æ­¥ï¼‰:
[0.04358424 0.04157252 0.04127478 0.0414579  0.04167221 0.04180158
 0.04184805 0.04184203 0.04181121 0.04177381]

âœ… å¯¦éš›å€¼ï¼ˆå‰ 10 å€‹æ™‚é–“æ­¥ï¼‰:
[0.04       0.03       0.02       0.04       0.04       0.03
 0.02666667 0.02666667 0.01       0.04333333]

d:\AI_term_project\.venv\Lib\site-packages\sklearn\utils\validation.py:2691: UserWarning: X does not have valid feature names, but MinMaxScaler was fitted with feature names
  warnings.warn(

# Evaluate our Model

In [29]:
# === è©•ä¼°æ¨¡å‹ ===
from sklearn.metrics import mean_squared_error, mean_absolute_error

def evaluate_on_dataset(model, dataloader, scaler, device):
    """è©•ä¼°æ•´å€‹ dataset çš„æ•ˆèƒ½"""
    model.eval()
    all_preds = []
    all_targets = []
    
    with torch.no_grad():
        for input_seq, target_seq in dataloader:
            input_seq = input_seq.to(device)
            output = model(input_seq)
            
            all_preds.append(output.cpu().numpy())
            all_targets.append(target_seq.numpy())
    
    # åˆä½µ
    preds = np.concatenate(all_preds, axis=0).reshape(-1, 1)
    targets = np.concatenate(all_targets, axis=0).reshape(-1, 1)
    
    # åæ¨™æº–åŒ–
    preds_original = scaler.inverse_transform(preds).flatten()
    targets_original = scaler.inverse_transform(targets).flatten()
    
    # è¨ˆç®—æŒ‡æ¨™
    mse = mean_squared_error(targets_original, preds_original)
    rmse = np.sqrt(mse)
    mae = mean_absolute_error(targets_original, preds_original)
    
    return {'MSE': mse, 'RMSE': rmse, 'MAE': mae}

# åŸ·è¡Œè©•ä¼°
metrics = evaluate_on_dataset(model_loaded, dataloader, scaler_loaded, DEVICE)
print("ğŸ“ˆ æ¨¡å‹è©•ä¼°çµæœ:")
for name, value in metrics.items():
    print(f"   {name}: {value:.4f}")

ğŸ“ˆ æ¨¡å‹è©•ä¼°çµæœ:
   MSE: 0.0718
   RMSE: 0.2680
   MAE: 0.1994